## 신발 데이터 전처리 맛보기..
---
- 데이터 수집을 통해 7종의 신발에 관한 정보를 모았습니다. 신발의 이름과 소재, 무게, 가격에 대한 정보를 수집했지만 이대로 데이터를 활용하기에는 불편한 부분들이 있는 것 같습니다. 차근차근 데이터 전처리를 시도해봅시다.
---
#### 웹에서 데이터를 수집해 7종의 신발에 관한 정보를 모았습니다.
#### 차근차근 데이터 전처리를 시도해봅시다.

name = ['Hoka Clifton 8', 'Brooks Adrenaline GTS 22', 'Ryka Women\'s Devotion Plus 4 Walking Shoe',
	'Nike Women\'s Pegasus 39', 'Asics Gel-Excite 9', 'Hoka Women\'s Bondi 8'
	'Asics Women\'s GT-2000 10 Running Shoes']
    
    
    
material = ['Mesh', 'Recycled plastic bottle', 'mesh', 'MESH', 'Mesh', 'Mesh', 'Knit']



weight = ['7.2 ounces', '10.2 ounces', '7.4 ounces', '9.6 ounces', '7.7 ounces', '8.9 ounces', '8.4 ounces']



price = ['$140', '$132', '$92', '$130', '$75', '$165', '$130']

조건

1. `material` 리스트의 원소들을 소문자로 변경하기
    - 소재는 크게 3종류의 데이터로 이루어져 있습니다.(범주형 변수) 하지만 메쉬 소재의 경우 `mesh` , `MESH` , `Mesh` 로 다양하게 표현되고 있습니다. 3가지의 표기법을 통일시켜 주어야 하겠네요!
2. `weight` 리스트의 ‘ounces’ 제거하고 숫자만 남기기
    - 무게 정보는 숫자로 이루어져 있습니다. (연속형 변수) 하지만 수집한 데이터에서는 ‘ounces’라는 단위가 붙어 숫자 자료형으로 취급할 수 없는 상태입니다. ‘ounces’를 제거하고 숫자만 남겨서 다루기 쉽게 변형시켜 봅시다.
3.  `price` 리스트의 ‘$’ 제거하고 숫자만 남기기
    - 가격 정보도 마찬가지로 연속형 변수입니다. ‘$’를 제거하고 숫자만 남겨서 다루기 쉽게 변형시켜 봅시다.
4. `brand` 리스트 만들기
    - 수집한 데이터로부터 다양한 데이터의 표현을 이끌어내는 것도 때로는 중요합니다. 현재 데이터에서는 이름 정보로부터 신발 브랜드를 추측할 수 있을 것 같습니다. 이름의 첫 번째 단어만 가지고 `brand` 라는 새로운 정보를 만들어 봅시다.

### 조금 더 발전시키고 싶다면?

- 데이터가 여러 리스트로 흩어져 있으니 한 번에 다루기 불편합니다. 데이터를 딕셔너리로 바꾸어서 다뤄봅시다. (혹은 판다스 데이터프레임으로 다뤄봅시다.)
- 신발을 가벼운 순서대로 확인하고 싶습니다. `weight` 에 대해 오름차순으로 정렬하고 가벼운 것부터 이름을 출력해봅시다.
- 가격 순으로도 확인하고 싶습니다. `price` 에 대해 오름차순으로 정렬하고 저렴한 것부터 이름을 출력해봅시다.

In [1]:
name = ['Hoka Clifton 8', 'Brooks Adrenaline GTS 22', 'Ryka Women\'s Devotion Plus 4 Walking Shoe','Nike Women\'s Pegasus 39', 'Asics Gel-Excite 9', 'Hoka Women\'s Bondi 8','Asics Women\'s GT-2000 10 Running Shoes']
material = ['Mesh', 'Recycled plastic bottle', 'mesh', 'MESH', 'Mesh', 'Mesh', 'Knit']
weight = ['7.2 ounces', '10.2 ounces', '7.4 ounces', '9.6 ounces', '7.7 ounces', '8.9 ounces', '8.4 ounces']
price = ['$140', '$132', '$92', '$130', '$75', '$165', '$130']

In [2]:
# 소문자로 변경.
material = [x.lower() for x in material]
# material

['mesh', 'recycled plastic bottle', 'mesh', 'mesh', 'mesh', 'mesh', 'knit']

In [3]:
weight = [float(x.replace(' ounces', '')) for x in weight]
# weight

[7.2, 10.2, 7.4, 9.6, 7.7, 8.9, 8.4]

In [4]:
price = [int(x.replace('$', '')) for x in price]
#price

[140, 132, 92, 130, 75, 165, 130]

In [5]:
brand = [x.split()[0] for x in name]
#brand

['Hoka', 'Brooks', 'Ryka', 'Nike', 'Asics', 'Hoka', 'Asics']

### 발전 과제

- 데이터가 여러 리스트로 흩어져 있으니 한 번에 다루기 불편합니다. 데이터를 딕셔너리로 바꾸어서 다뤄봅시다. (혹은 판다스 데이터프레임으로 다뤄봅시다.)
- 신발을 가벼운 순서대로 확인하고 싶습니다. `weight` 에 대해 오름차순으로 정렬하고 가벼운 것부터 이름을 출력해봅시다.
- 가격 순으로도 확인하고 싶습니다. `price` 에 대해 오름차순으로 정렬하고 저렴한 것부터 이름을 출력해봅시다.

In [6]:
import pandas as pd

df = pd.DataFrame({'name':name,
                  'material':material,
                   'weight':weight,
                   'price':price,
                   'brand':brand
                  })

df.head()

,name,material,weight,price,brand
0,Hoka Clifton 8,mesh,7.2,140,Hoka
1,Brooks Adrenaline GTS 22,recycled plastic bottle,10.2,132,Brooks
2,Ryka Women's Devotion Plus 4 Walking Shoe,mesh,7.4,92,Ryka
3,Nike Women's Pegasus 39,mesh,9.6,130,Nike
4,Asics Gel-Excite 9,mesh,7.7,75,Asics

In [7]:
# 무게 기준 오름차순 정렬

df.sort_values(by='weight')[['name', 'weight']]

                                        name  weight
0                             Hoka Clifton 8     7.2
2  Ryka Women's Devotion Plus 4 Walking Shoe     7.4
4                         Asics Gel-Excite 9     7.7
6     Asics Women's GT-2000 10 Running Shoes     8.4
5                       Hoka Women's Bondi 8     8.9
3                    Nike Women's Pegasus 39     9.6
1                   Brooks Adrenaline GTS 22    10.2

In [8]:
# 가격 기준 오름차순 정렬

df.sort_values(by='price')[['name','price']]

                                        name  price
4                         Asics Gel-Excite 9     75
2  Ryka Women's Devotion Plus 4 Walking Shoe     92
3                    Nike Women's Pegasus 39    130
6     Asics Women's GT-2000 10 Running Shoes    130
1                   Brooks Adrenaline GTS 22    132
0                             Hoka Clifton 8    140
5                       Hoka Women's Bondi 8    165