In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
student_df = pd.read_csv('/aiffel/aiffel/practice/260108/student.csv')
point_df = pd.read_csv('/aiffel/aiffel/practice/260108/point.csv')

In [5]:
student_df.head()

   Unnamed: 0  student_id student_name  house  year
0           0         101           리안   래번클로     6
1           1         102          엘라라   후플푸프     5
2           2         103           카이  그리핀도르     2
3           3         104          셀레네   래번클로     4
4           4         105          아리온   래번클로     6

In [6]:
point_df.head()

   Unnamed: 0  log_id  student_id     subject  points
0           0       1         110      마법의 역사      10
1           1       2         116  어둠의 마법 방어술      10
2           2       3         115         마법약      10
3           3       4         115         약초학     -10
4           4       5         119         약초학       5

In [9]:
df = student_df.merge(point_df, on='student_id')

In [10]:
df

,Unnamed: 0_x,student_id,student_name,house,year,Unnamed: 0_y,log_id,subject,points
0,1,102,엘라라,후플푸프,5,18,19,변신술,20
1,1,102,엘라라,후플푸프,5,32,33,마법의 역사,5
2,1,102,엘라라,후플푸프,5,38,39,마법약,-5
3,2,103,카이,그리핀도르,2,7,8,마법약,10
4,2,103,카이,그리핀도르,2,25,26,마법약,10
5,3,104,셀레네,래번클로,4,14,15,약초학,-15
6,3,104,셀레네,래번클로,4,28,29,약초학,20
7,3,104,셀레네,래번클로,4,31,32,천문학,-5
8,3,104,셀레네,래번클로,4,35,36,천문학,5
9,3,104,셀레네,래번클로,4,40,41,마법의 역사,5
10,4,105,아리온,래번클로,6,8,9,마법의 역사,5
11,5,106,루나,후플푸프,6,33,34,변신술,10
12,6,107,핀,그리핀도르,2,10,11,마법약,10
13,6,107,핀,그리핀도르,2,12,13,마법약,5
14,6,107,핀,그리핀도르,2,21,22,변신술,-5
15,7,108,헥토르,그리핀도르,4,23,24,어둠의 마법 방어술,-15
16,7,108,헥토르,그리핀도르,4,30,31,마법약,10
17,7,108,헥토르,그리핀도르,4,44,45,마법의 역사,-5
18,7,108,헥토르,그리핀도르,4,46,47,천문학,5
19,8,109,벨라,래번클로,5,11,12,마법약,10
20,8,109,벨라,래번클로,5,17,18,마법약,-15
21,9,110,이안,슬리데린,1,0,1,마법의 역사,10
22,9,110,이안,슬리데린,1,34,35,약초학,10
23,9,110,이안,슬리데린,1,39,40,변신술,15
24,11,112,클로에,래번클로,2,5,6,약초학,-5
25,11,112,클로에,래번클로,2,22,23,마법의 역사,20
26,11,112,클로에,래번클로,2,37,38,변신술,5
27,12,113,레오,래번클로,6,48,49,마법약,-10
28,13,114,릴리,래번클로,5,15,16,변신술,20
29,13,114,릴리,래번클로,5,26,27,약초학,10
30,13,114,릴리,래번클로,5,41,42,천문학,-20
31,13,114,릴리,래번클로,5,45,46,어둠의 마법 방어술,5
32,14,115,제이크,후플푸프,4,2,3,마법약,10
33,14,115,제이크,후플푸프,4,3,4,약초학,-10
34,14,115,제이크,후플푸프,4,20,21,마법약,-15
35,14,115,제이크,후플푸프,4,24,25,어둠의 마법 방어술,5
36,14,115,제이크,후플푸프,4,43,44,마법약,5
37,15,116,소피아,그리핀도르,1,1,2,어둠의 마법 방어술,10
38,15,116,소피아,그리핀도르,1,42,43,변신술,-20
39,15,116,소피아,그리핀도르,1,47,48,변신술,10
40,16,117,에단,후플푸프,1,27,28,마법약,5
41,17,118,미아,후플푸프,3,13,14,마법약,10
42,17,118,미아,후플푸프,3,16,17,변신술,-10
43,17,118,미아,후플푸프,3,29,30,어둠의 마법 방어술,-15
44,17,118,미아,후플푸프,3,36,37,변신술,-15
45,17,118,미아,후플푸프,3,49,50,어둠의 마법 방어술,-5
46,18,119,올리버,후플푸프,3,4,5,약초학,5
47,18,119,올리버,후플푸프,3,9,10,마법의 역사,15
48,19,120,아멜리아,래번클로,7,6,7,마법의 역사,-15
49,19,120,아멜리아,래번클로,7,19,20,변신술,10

In [13]:
df.groupby('house')['points'].sum()

house
그리핀도르    25
래번클로     30
슬리데린     35
후플푸프     15
Name: points, dtype: int64

In [16]:
pd.DataFrame(df.groupby(['house','subject'])['points'].sum())

                  points
house subject
그리핀도르 마법약             45
      마법의 역사          -5
      변신술            -15
      어둠의 마법 방어술      -5
      천문학              5
래번클로  마법약            -15
      마법의 역사          15
      변신술             35
      약초학             10
      어둠의 마법 방어술       5
      천문학            -20
슬리데린  마법의 역사          10
      변신술             15
      약초학             10
후플푸프  마법약             10
      마법의 역사          20
      변신술              5
      약초학             -5
      어둠의 마법 방어술     -15

In [17]:
pd.pivot_table(df, index='house', columns='subject', values='points')

subject       마법약  마법의 역사        변신술   약초학  어둠의 마법 방어술       천문학
house
그리핀도르    9.000000   -5.00  -5.000000   NaN        -2.5  5.000000
래번클로    -5.000000    3.75  11.666667   2.5         5.0 -6.666667
슬리데린          NaN   10.00  15.000000  10.0         NaN       NaN
후플푸프     1.666667   10.00   1.250000  -2.5        -5.0       NaN

In [19]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20 non-null     int64
 1   student_id    20 non-null     int64
 2   student_name  20 non-null     object
 3   house         20 non-null     object
 4   year          20 non-null     int64
dtypes: int64(3), object(2)
memory usage: 928.0+ bytes

In [20]:
student_df

    Unnamed: 0  student_id student_name  house  year
0            0         101           리안   래번클로     6
1            1         102          엘라라   후플푸프     5
2            2         103           카이  그리핀도르     2
3            3         104          셀레네   래번클로     4
4            4         105          아리온   래번클로     6
5            5         106           루나   후플푸프     6
6            6         107            핀  그리핀도르     2
7            7         108          헥토르  그리핀도르     4
8            8         109           벨라   래번클로     5
9            9         110           이안   슬리데린     1
10          10         111           노아   래번클로     4
11          11         112          클로에   래번클로     2
12          12         113           레오   래번클로     6
13          13         114           릴리   래번클로     5
14          14         115          제이크   후플푸프     4
15          15         116          소피아  그리핀도르     1
16          16         117           에단   후플푸프     1
17          17         118           미아   후플푸프     3
18          18         119          올리버   후플푸프     3
19          19         120         아멜리아   래번클로     7

In [21]:
import pandas as pd

# 데이터 준비하기
data = {
    'Country': ['USA', 'Canada', 'Germany', 'USA', 'Germany', 'Canada', 'USA', 'Germany', 'Canada', 'USA'],
    'Purchased': ['Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No'],
    'Age': [22, 25, 30, 28, 35, 40, 45, 28, 25, 38]
}
df = pd.DataFrame(data)

# LabelEncoder 준비하기
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

# LabelEncoder로 Label encoding 하기
label_encoded = label_encoder.fit_transform(df['Country'])
label_encoded = pd.DataFrame(label_encoded, columns=['Country_labelEncoded'])


# pd.get_dummies로 One hot Encoding 하기
onehot_encoded = pd.get_dummies(df['Country'], dtype=int)

df = pd.concat([df, label_encoded, onehot_encoded], axis=1)
df

   Country Purchased  Age  Country_labelEncoded  Canada  Germany  USA
0      USA       Yes   22                     2       0        0    1
1   Canada        No   25                     0       1        0    0
2  Germany        No   30                     1       0        1    0
3      USA       Yes   28                     2       0        0    1
4  Germany       Yes   35                     1       0        1    0
5   Canada        No   40                     0       1        0    0
6      USA        No   45                     2       0        0    1
7  Germany       Yes   28                     1       0        1    0
8   Canada       Yes   25                     0       1        0    0
9      USA        No   38                     2       0        0    1

In [22]:
import pandas as pd

# 예제 데이터셋 생성
data = {
    'Feature1': [100, 200, 300, 400, 500],
    'Feature2': [1, 2, 3, 4, 5],
    'Feature3': [10, 1000, 10000, 100000, 1000000]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

Original Data:
   Feature1  Feature2  Feature3
0       100         1        10
1       200         2      1000
2       300         3     10000
3       400         4    100000
4       500         5   1000000

In [24]:
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

ss = StandardScaler()
rs = RobustScaler()
mm = MinMaxScaler()

In [26]:
pd.DataFrame(ss.fit_transform(df), columns=df.columns)

   Feature1  Feature2  Feature3
0 -1.414214 -1.414214 -0.568702
1 -0.707107 -0.707107 -0.566168
2  0.000000  0.000000 -0.543133
3  0.707107  0.707107 -0.312777
4  1.414214  1.414214  1.990781

In [27]:
pd.DataFrame(rs.fit_transform(df), columns=df.columns)

   Feature1  Feature2   Feature3
0      -1.0      -1.0  -0.100909
1      -0.5      -0.5  -0.090909
2       0.0       0.0   0.000000
3       0.5       0.5   0.909091
4       1.0       1.0  10.000000

In [28]:
pd.DataFrame(mm.fit_transform(df), columns=df.columns)

   Feature1  Feature2  Feature3
0      0.00      0.00  0.000000
1      0.25      0.25  0.000990
2      0.50      0.50  0.009990
3      0.75      0.75  0.099991
4      1.00      1.00  1.000000